<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintCloud</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="icon" type="image/x-icon" href="picture/logo.png">
</head>
<body>
    <script src="js/index.js"></script-->
    <script src="js/languare.js"></script>
    <header>
        <div class="headerb2">
            <select class="headerb" id="lang" onchange="languare()">
                <option selected>Deutsch</option>
                <option>Englisch</option>
            </select>
            <form class="headerb" action="modells">
                <input name="search"  placeholder="Search..." type="search">
            </form>
            <a class="headerb" href="login">
                <img class="aimg" src="/picture/accounnt.png" alt="">
            </a>
            <a href="cratemodell">
                <button class="headerb">Erstellen</button>
            </a>
            
        </div>  
        <div class="headera2">
            <a class="headera" id="home" href="/">Home</a>
            <a class="headera" id="comunity" href="comunity">Comunity</a>
            <a class="headera" id="modells" href="modells">Modells</a>
        </div>    
    </header>
    <main>
        <section>
            <h3 id="efm">Featured Models</h3>
            <div id="model-list-1">
  
                    <div>
                        <img src="/models/file/<%= model.pictureFile %>" width="640" height="480" class="deteil1"><br>
                        <strong class="deteil2"><%= model.name %></strong><br><br>
                        <span style="white-space: nowrap;">Beschreibung:</span>
                        <p class="deteil2"><%= model.description %></p><br>
                        <a class="deteil2" href="/models/file/<%= model.dataFile %>" download>
                          <button>Download Datei</button>
                        </a>
                        <p class="deteil2">10👍</p><p class="deteil2">10⬇️</p>
                      </div>
                  

              </div>
              <a href="">Modells</a> <a href="">...</a> <a href="..."></a>
     
              <div>
                <h3>Models</h3>
                  <br><br>
                  <a id="model" class="deteil2" href="/models/file/<%= model.dataFile %>" download><button><%= model.dataFile %></button></a>
              </div>
           
            
    
        </section>
    </main>
</body>
</html>